/* -------- CONTACT US ------ */
.contactUsContainer {
  height: 40vh;
  background-color: #2FC4B2;
  padding: 2rem 10rem;
}

.contactUsContainer img {
  margin-top: 0.5rem;
}

.contactList {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contactCol {
  margin-top: 0.5rem;
  color: white;
  letter-spacing: 0.05rem;
}
